@charset "utf-8";

html{
    font-size: 62.5%;   /* 16px × 62.5% =10px */
}

html{
    scroll-behavior: smooth;
}

body{
    color: #222222;
    background-color: #fafafa;
    border-color: #cacaca;
    font-size: 1.0rem;
    font-family: "Meiryo","メイリオ","MS PGothic","MS UI Gothic",Arial,sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}

/* ------header
----------------------------*/

.header-wrapper{
    background-color:#fffafa;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

.header-logo{
    display: flex;
    align-items: center;
}

.nav-list{
    display: flex;
    font-size: 2.1rem;
    padding: 50px 0;
}

.nav-item{
    margin: 0 0 0 50px;
    text-transform: uppercase;
    
}

.btn-mobile{
    display: none;
}

/* ------trial 
----------------------------*/
.slide-wrapper{
    position: relative;
    height: 400px;
    overflow: hidden;
    width: 100%;
    
  }

  
  .slide-img2{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    opacity: 0;
    animation: slideshow 24s linear infinite;
  }
  
  .slide-img2:nth-child(2){
    animation-delay: 8s;
  }
  
  .slide-img2:last-child{
    animation-delay: 16s;
  }
  
  @keyframes slideshow{
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  28%  { opacity: 1; }
  38%  { opacity: 0; }
  100% { opacity: 0; }
  }

  .slide-text{
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    font-size: 3.6rem;
    font-size:2.5vw; 
    /* 36px/1440=0.025 0.01=1vw */
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
    letter-spacing: 0.1em;
    width: 100%;
}
  

/* ------main visual
----------------------------*/


.main__image{
    max-width: max-content;
    height: auto;
    position: relative;
    margin: auto;
}

.main__visual__text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
    font-size: 3.6rem;
    font-weight: bold;
    color: rgba(255,255,255, 0.8);
    letter-spacing: 0.1em;
    width: 100%;
}

.main__image p{
    font-size: 3.0rem;
    color: rgba(255,255,255, 0.8);
    letter-spacing: 0.05em;
}



/* ------about 
----------------------------*/
.profile-wrapper{
    width: 740px;
    margin: auto;
    text-align: center;
    padding: 80px 0;
}

.text-center{
    text-align: center;
    
}

.profile__title__en{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffd61a;
    text-transform: uppercase;
}

.profile__title__ja{
    font-size: 1.8rem;
    margin-bottom: 60px;
}

.profile__text{
    font-size: 1.6rem;
    line-height: 2;
}

.profile__image__list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding: 0;
}

.profile__image__item img{
    width: 300px;
    height: 200px;
}

/* ------course 
----------------------------*/

.course__title__en{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color:black;
    text-transform: uppercase;
}


.course__title__ja{
    font-size: 1.8rem;
    margin-bottom: 60px;
    line-height: 2;
}

.course-wrapper{
    margin: auto;
    background-color: #fffaf0;
    margin-bottom: 60px;
}

.course-content{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

.course__content__image{
    width: 50%;
}

.course__content__text{
    width: 50%;
    background-color: #fffaf0;
    line-height: 2;
    margin: auto 0;
}

.course__content__text__item{
    width: 450px;
    padding-left: 30px;
    text-align: justify;
}

.course__content__text h3{
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.course__content__text p{
    font-size: 1.6rem;
}

/* ------video
----------------------------*/
.video-wrapper video{ 
    margin-bottom: 60px;
    width: 100%;
    max-width: 1200px;
    height: auto;
}


/* ------news 
----------------------------*/


.news__title__en{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #ffd61a;
    text-transform: uppercase;
}



.news__title__ja{
    font-size: 1.8rem;
    margin-bottom: 60px;
}

.news__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 60px;    
}

.news__item{
    width: 320px;    
    
    padding: 0 30px;
}

.news__image img{
    display: block;
    margin: 0 0 30px;
    width: 320px;
    height: 200px;
}

.news__date{
    margin: 0 0 24px;
    font-size: 1.6rem;
}

.news__heading{
    text-decoration: underline;
    font-size: 1.6rem;
    line-height: 2;
}

/* newsのbtnとhover */
.news__hover{
    display: block;
}
.news__hover:hover{
    opacity:0.8;
}

.btn-more{
    display: block;
    width: 300px;
    margin: auto    ;
    background-color: #ffd61a;
    padding: 15px;
    color: white;
    opacity: 1;
    border-radius: 4px;
    margin-bottom: 60px;
    font-size: 1.6rem;
}

.btn-more:hover{
    opacity: 0.8;
}

.btn-more:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}

/* ------access 
----------------------------*/

.access-wrapper{
    background-color: #fffaf0;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.access__title__en{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color:black;
    text-transform: uppercase;
}

.access__title__ja{
    font-size: 1.8rem;
    margin-bottom: 60px;
}

.access-inner{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}   

.access-title{
    width: 30%;
    padding: 15px 0 15px 0;
    text-align: left;
}

.access-item{
    width: 70%;
    text-align: left;
    padding: 15px 0 15px 0;
}

.access-map{
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}




/* ------contact
----------------------------*/
.form-wrapper{
    width: 760px;
    margin: auto;
    padding-bottom: 80px;
}

.form__title__en{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 30px;
    color:black;
    text-transform: uppercase;
}

.form__title__ja{
    font-size: 1.8rem;
    margin-bottom: 60px;
}


.form-inner{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    margin: 0 0 30px;
    border-top: solid 2px #bfbfbf;
    border-bottom: solid 2px #bfbfbf;
}   

.form-title{
    width: 260px;
    margin: 0 20px 0 0;
    padding: 16px 0 0 0;
    
}



.form-item{
    width: 420px;
    padding: 8px 0 8px;
}

.form__text{
    margin-bottom: 70px;
    font-size: 1.6rem;
    line-height: 2;
}

.form-item select{
    width: 420px;
    padding: 8px 0 8px;
    font-size: 1.6rem;
}

.form-parts{
    appearance: none;
    -webkit-appearance: none;
    -moz-apprearance: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.6rem;
    border: solid 1px #bfbfbb;
    padding: 8px;
}

input[type*=radio]{
    appearance: none;
    -webkit-appearance: none;
    -moz-apprearance: none;
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
    border: solid 1px #a0a0a0;
}

input[type*="radio"]:checked{
    background-color: #a0a0aa;
}

.form-label{
    margin: 0 16px 0 0;
    border-radius: 50%;
}

.form__reasons{
    flex-direction: column;
}

.form__reasons__item{
    padding-bottom: 24px;
    margin-top: 10px;
}

/* btn-submit */
.btn-submit{
    display: block;
    width: 300px;
    margin: auto    ;
    background-color: #ffd61a;
    padding: 15px;
    color: white;
    opacity: 1;
    border-radius: 4px;
    margin-bottom: 140px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: bold;
}

.btn-submit:hover{
    opacity: 0.8;
}

.btn-submit:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}


/* ------footer 
----------------------------*/
.footer{
    position: relative;
    background-color: #707070;
    padding: 30px 0;
}

.footer .wrapper{
    width: 740px;
    margin: auto;
}

.btn__top{
    position: absolute;
    top: -65px;
    right: 25%;
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 50px;
    color:#fff  ;
    background-color: #707070;
}

.copy-rights{
    color:#fff;
}


/* ---------------------
*    media query
*    640px以下は、以下のCSSが適用される 
-----------------------*/

@media screen and (max-width: 640px) {

/* ------header
----------------------------*/

    .header-wrapper{
        flex-direction: column;
        width: fit-content;
    }

    .nav-list{
        flex-direction: column;
        margin: 0 0 10px 0;
        text-align: center;
        padding: 0;
    }

    .nav-item{
        margin: 0;
        padding: 5px 0;
    }

    .btn-mobile{
        text-transform: uppercase;  
        display: block;
        appearance: none;
        -webkit-appearance: none;
    }

    
/* ------slide
----------------------------*/
.slide-text h1{
    font-size: 2.4rem;
}

.slide-text p{
    font-size: 2.0rem;
}



/* ------main visual
----------------------------*/

    .main__visual__text h1{
        font-size: 2.4rem;
    }

    .main__visual__text p{
        font-size: 2.0rem;
    }


    /* ------about
----------------------------*/

    .profile-wrapper{
        max-width: fit-content;
    }

    .profile__text{
        justify-content: center;
    }

    .profile__image__list{
        display: block;
    }

    .profile__image__item img{
        width: 100%;
    }

    /* ------course
----------------------------*/

    .course-content{
        display: block;
    }

    .course__content__image img{
        width: 100%;
    }

    .course__content__text{
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .course__content__text__item{
        width: fit-content;
        padding: 0;
        margin: 0;
    }

    .course__content__text h3{
        padding: 0;
        margin-bottom: 10px;
    }

    .course__content__text p{
        display: block;
        padding: 0;
        margin: 0;
    }
    /* ------video
----------------------------*/    
    .video-wrapper video{
        width: 100%;
        height: auto;
    }
/* ------news
----------------------------*/
    .news__item{
        padding: 0;
        width: fit-content;
        margin-bottom: 20px;
    }

    .news__item img{
        width: 100%;
    }

    /* ------contact
----------------------------*/

    .form-wrapper{
        width: 100%;
    }

    .form-title{
        width: fit-content;
    }

    .form-item{
        width: fit-content;
    }

    .form-item select{
        width: 100%;
    }

    .form-label{

    }


    /* ------footer
----------------------------*/
    .footer{
        width: 100%;
    }
    .copy-rights small{
        width: 100%;
        float: left;
    }

    .wrapper{
        width: 100%;
        
    }

}

@media screen and (max-width: 1200px min-width: 640px){
    .video-wrapper video{
        width: 100%;
        height: auto;
    }
}